<div class="queryfilterglobal">
<form method="post"><input type="submit" value="Reset all filters" class="btn btn-dark-green w-100"/></form>
<form id="edit_form" method="post" class="form form-floating">
	{% for key, data in metas %}
		{% if data|length > 0 %}
			<div class="queryfilter">
				Filters for table {{ key }}<br/>
				
				{% for meta in data %}
					<div class="form-floating">
						<input type="hidden" class="form-control" id="floatingHidden" placeholder="field[{{meta.id}}]" name="field[{{meta.id}}]" value="{{ meta.field_name }}">
						<label for="floatingHidden">{{ meta.field_name }}</label>
					</div>
					{% if meta.type == 'txt' %}
						<div class="form-floating">
							{% include 'one_filter_txt.twig' with {'meta':meta, 'value':values[meta.id]}%}
						</div>
					{% elseif meta.type == 'int' or meta.type == 'float' %}
						<div>
							{% include 'one_filter_num.twig' with {'meta':meta, 'value':values[meta.id]}%}
						</div>
					{% elseif meta.type == 'date' %}
						<div>
							{% include 'one_filter_date.twig' with {'meta':meta, 'value':values[meta.id]}%}
						</div>
					{% endif %}
				{% endfor %}
						
						



				{# <ul>
				{% for meta in data %}
					<li>
						<input type="hidden" name="field[{{meta.id}}]" value="{{ meta.field_name }}"/>
						{% if meta.type == 'txt' %}
							{% include 'one_filter_txt.twig' with {'meta':meta, 'value':values[meta.id]}%}
						{% endif %}
						{% if meta.type == 'int' or meta.type == 'float'  %}
							{% include 'one_filter_num.twig' with {'meta':meta, 'value':values[meta.id]}%}
						{% endif %}
						{% if meta.type == 'date'  %}
							{% include 'one_filter_date.twig' with {'meta':meta, 'value':values[meta.id]}%}
						{% endif %}
					</li>
				{% endfor %}
				</ul> #}
			</div>
		{% endif %}
	{% endfor %}
</div>
	<input type="submit" value="Set filters" class="btn btn-dark-green mt-2 w-100"/>
</form>
<br clear="both"/>&nbsp;<br/>

